{% extends 'base.html' %}

{% block title %}Programmer Resume{% endblock %}

{% block content %}
<h1>My Programmer Resume</h1>

<h2>GitHub</h2>
<a href="https://github.com/RaptorT1V" target="_blank">Мой GitHub</a>

<h2>Habr</h2>
<a href="https://habr.com/ru/users/badcasedaily1/publications/articles/" target="_blank">Мои статьи на Habr</a>

<h2>Курсовые работы</h2>
<embed src="/static/docs/Курсовая работа; ''Методы визуализации данных с помощью библиотек языка Python''.pdf" type="application/pdf" width="600" height="400">

<h2>Сертификаты и дипломы</h2>
<img src="/static/img/diplom2.jpg" alt="Мой диплом" width="400">
{% endblock %}
