/* Основные стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: left;
    position: relative;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: auto;
    width: 100%;
}



/*
- - - - - - - - - - - - - - - -
    base.html + home.html
- - - - - - - - - - - - - - - -
*/



/* Логотип сайта на вкладке браузера */
.logo {
    width: 9em;
    height: 3em;
    float: left;
    margin-right: 20px;
}


/* Кнопочки "register" и "login" в header'е */
.auth-links {
    position: absolute;
    right: 20px;
    top: 20px;
}

.auth-links a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #f8f9fa;
    background-color: #343a40;
    padding: 4px 8px;
    margin: 0px 5px;
    border-radius: 5px;
    text-decoration: none;
    transition:
        background-color 0.3s ease,
        font-weight 0.3s ease,
        color 0.3s ease,
        text-decoration 0.3s ease;
}

.auth-links a:hover {
    background-color: #495057;
    font-weight: 600;
    color: #fcf0b3;
    text-decoration: underline;
}


/* Стильное оформление username'а в header'е */
.username {
    font-family: 'League Script', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
    color: #ccf;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    background: none;
}

.username:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 10px #fff, 0 0 5px #7d26cd, 0 0 25px #7d26cd;
    animation: blink-hover 1.5s infinite ease-in-out, fade-hover 3s infinite;
    color: #0602d1;
}

/* Крутая анимация username'а */
@keyframes blink-hover {
  70% {
    opacity: 0.7;
  }
}

@keyframes fade-hover {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}


/* Navigation bar & menu в header'е */
nav {
    text-align: center;
    margin-top: 15px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.menu li {
    position: relative;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.menu li ul {
    display: none;
    position: absolute;
    background-color: rgba(68, 68, 68, 0.9);
    padding: 5px;
    list-style: none;
    top: calc(100% + 10px);
    left: 0;
    border-radius: 2px;
    min-width: 100px;
    z-index: 1000;
}

.menu li:hover ul {
    display: block;
    animation: scaleUp 0.3s ease forwards;
}

.menu li ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.menu li ul li a:hover {
    background-color: #575757;
}

/* Анимация для подменю */
@keyframes scaleUp {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}


/* Контент */
.main-content {
    background: url('../img/start_image.png') no-repeat center center fixed;
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content h1 {
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* Всплывающие сообщения */
.popup-message {
    padding: 15px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.popup-message.show {
    opacity: 1;
    transform: translateY(0);
}

.popup-message-error {
    background-color: #f2dede;
    color: #a94442;
}

.popup-message-success {
    background-color: #dff0d8;
    color: #3c763d;
}

.popup-message-warning {
    background-color: #ffe0a3;
    color: #8a6d3b;
}

.popup-message-info {
    background-color: #add8f7;
    color: #2e4e5e;
}

.popup-message-debug {
    background-color: #f0fcfc;
    color: #333333;
}



/*
- - - - - - - - - - - - - - - -
  Встроенные в Django классы
- - - - - - - - - - - - - - - -
*/



/* Сообщения */
.messages {
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
}

.messages li {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.messages li.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.messages li.error {
    background-color: #f2dede;
    color: #a94442;
}


/* Ошибки */
.errorlist li {
    color: #b80425;
    font-size: 0.95rem;
}

.errorlist li strong {
    font-weight: bold;
    color: #e35300;
}


/* Формы */
form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05rem;
}

form input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
}


/* Кнопки */
button {
    padding: 10px 20px;
    margin: 10px 0 0 5.5em;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ffffe5;
}

button:disabled {
    background-color: #ffc107;
}

button.active {
    background-color: #007bff;
}

button:hover {
    background-color: #a198e3;
}


/* Стили для скроллбара */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}