{% extends 'base.html' %}

{% block content %}
  <h2 style="color: red">Login</h2>

   <!-- Всплывающее сообщение -->
  <div id="popup-message" class="popup-message"></div>

  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
  </form>

  <h2 style="color: red">Login</h2>

  <script>
    document.addEventListener('DOMContentLoaded', function() { // пришлось добавить эту строчку, чтобы код с вызовом showPopupMessage() выполнялся только после полной загрузки документа, иначе не будет работать
        // Показываем сообщение об ошибке, если есть
        {% if form.errors %}
        showPopupMessage("Ты даже не можешь войти? What a shame!", 'bad');
        {% endif %}
    });
  </script>
{% endblock %}
