{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block content %}
  <h2 class="h2-left">Login</h2>

  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
  </form>

  <h2 class="h2-right">Login</h2>

  <script>
    document.addEventListener('DOMContentLoaded', function() { // пришлось добавить эту строчку, чтобы код с вызовом showPopupMessage() выполнялся только после полной загрузки документа, иначе не будет работать
        {% if form.errors %}
        showPopupMessage("Ты даже не можешь войти? What a shame!", 'error');
        {% endif %}
    });
  </script>
{% endblock %}
