{% extends 'base.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block content %}
  <h2 class="h2-left">Register</h2>

  <form method="post">
    {% csrf_token %}

    <div>
      {{ form.username.label_tag }}<br>
      {{ form.username }}
    </div>

    <div>
      {{ form.email.label_tag }}<br>
      {{ form.email }}
    </div>

    <div>
      {{ form.phone.label_tag }}<br>
      {{ form.phone }}
    </div>

    <div>
      {{ form.password1.label_tag }}<br>
      {{ form.password1 }}
    </div>

    <div>
      {{ form.password2.label_tag }}<br>
      {{ form.password2 }}
    </div>

    <button type="submit">Register</button>

    {% if form.errors %}
      <ul class="errorlist">
        {% for field, errors in form.errors.items %}
        <li><strong>{{ field }}:</strong> {{ errors|striptags }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </form>

  <h2 class="h2-right">Register</h2>

  <script>
    document.addEventListener('DOMContentLoaded', function() { // пришлось добавить эту строчку, чтобы код с вызовом showPopupMessage() выполнялся только после полной загрузки документа, иначе не будет работать
        {% if form.errors %}
        showPopupMessage("Epic Fail: Регистрация провалена! Ищи ошибки :)", 'error');
        {% endif %}
    });
  </script>
{% endblock %}
