<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Genius Web Site{% endblock %}</title>
    {% load static %}

    <!-- Общие стили (только базовые) -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'img/icons/favicon2.ico' %}">

    {% block extra_css %} {% endblock %}
</head>
    {% block extra_head %}
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    {% endblock %}
<body>
<header>
    <div class="header-container">
        <div class="logo-container">
            <a href="/">
                <img src="{% static 'img/logos/test5.png' %}" alt="Logo" class="logo">
            </a>
        </div>

        <nav aria-label="Main Navigation">
            <ul class="menu">
                <li><a href="#">Resume</a>
                    <ul>
                        <li><a href="{% url 'programmer_resume:index' %}">Programmer</a></li>
                        <li><a href="{% url 'musician_resume:index' %}">Musician</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'merch:index' %}">Merch</a></li>
                <li><a href="{% url 'forum:index' %}">Forum</a></li>
                <li><a href="{% url 'game:index' %}">Game</a></li>
            </ul>
        </nav>

        <div class="auth-links">
            {% if user.is_authenticated %}
                <a href="{% url 'user_profile' %}" class="username">{{ user.username }}</a> /
                <a href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'register' %}">Register</a> /
                <a href="{% url 'login' %}">Log in</a>
            {% endif %}
        </div>
    </div>
</header>

<main class="main-content">
    {% block content %}
    {% endblock %}
</main>

<!-- Всплывающее сообщение -->
<div id="popup-message" class="popup-message"></div>

<footer>
    <p>&copy; 2024 Genius Web Site</p>
</footer>

<!-- Общие скрипты (те, что нужны на многих страницах) -->
<script src="{% static 'js/main.js' %}"></script>

{% block extra_js %}{% endblock %}

<script>
    // Показываем сообщение, если оно есть (этот скрипт можно оставить тут или перенести в общий js/main.js, если он нужен на всех страницах с сообщениями)
    {% if messages %}
        {% for message in messages %}
            showPopupMessage("{{ message }}", "{{ message.tags }}");
        {% endfor %}
    {% endif %}
</script>
</body>
</html>
