<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/ninja.css' %}">
</head>
<body>
    <div class="container">
      <div id="score"></div>
      <canvas id="game" width="375" height="375"></canvas>
      <div id="introduction">1. Зажми ЛКМ.<br>2. Держи...<br>3. Отпусти!<br> <br>Пробел = начать заново<br> <br>(Можно регулировать масштаб!)</div>
      <div id="perfect">ИДЕАЛЬНО! БОНУС Х2!</div>
      <button id="restart">ЗАНОВО</button>
    </div>
<script src="{% static 'game/js/ninja.js' %}"></script>
</body>
</html>
